
/* VARS */
:root {
    --dark-clr: #171828;
    --text-clr: #74747C;
    --pirple-clr: #746C8C;
    --priple-clr-2: #A49CBA;
    --pirple-clr-3: #DFD4F1;
    --gradient-clr: linear-gradient(
      to right top,
      #57417f,
      #5a4688,
      #5d4c91,
      #60519a,
      #6257a3
    );
    --bs: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.125);
  }


/* common ou commun*/

*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
 html
 {
     font-size: 62.50%;
 }
 
 body
 {
    background-image: url(../images/img.jpg);
    font-family: "Montserrat", sans-serif;
    line-height:1.7;
    font-weight: 300;
    color: var(--text-clr);
    font-size: 1.5rem;
 }

 ul
 {
list-style: none;
 }
 
 a
 {
     text-decoration: none;
 }
 .nav-menu {
    display: flex;
    justify-content: flex-end;
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
        }
      
       .nav-menu .nav-item + .nav-item
       {
           /* margin-left:2rem;*/
       }
      
       .nav-link
       {
          color: var(--text-clr);
          font-weight: 400;
          display: inline-block;
          padding:2rem 3rem;
          transition: all .2s;
       }
       .nav-link:hover
        {
          color: var(--dark-clr);


        }


.container
{
    margin-bottom: bottom 2rem; 
}

.title 
{
    color: black;
    margin: 2rem;
}


.subtitle
{
    width: 50%;
    max-width : 576px;
    margin-right: auto;
    color:var(--dark-clr); 
    margin: 2rem;
    
}
    
.bottom-big 
{
    background : rgb(100, 201, 226) !important;
    color: #fff !important;
    transition:all .2s;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 2rem 3rem;
    margin: 2rem;
    opacity:8px;
}
.zone
{
 background-color:rgb(1, 1, 8) ;
 height: 800%;
 width: 100%;
 padding:100px;
 margin-top: 300px;

}

.hero
{
    color: cornsilk;

}
 /*Form*/

.form
{
    width:80%;

}
.form input
{
flex: 1;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
}
/* button de subscrition rondeur ...*/
.form button 
{
background : rgb(100, 201, 226) !important;
color: #fff !important;
transition:all .2s;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
}

.form button:hover{
    opacity: .8;
}


/*la taille du formulaire la forme*/
.form-control
{
   border: none;
    padding: 2rem;
    outline: none;
}
  /* la forme du button subscribe*/

  .btn-big {
    padding: 2rem 4rem;
  }
 
  /* END FORM */
  
  